<footer class="pb-5 pt-3">
  <div class="container">
    <div class="text-center">
      <ul class="d-flex justify-content-center ps-0 flex-wrap">
        <li><a routerLink="home" class=" text-capitalize">home</a></li>
        <li class="mx-3"><a routerLink="movie/popular" class="text-capitalize">movies</a></li>
        <li class="me-3"><a routerLink="tv/popular" class="text-capitalize">tv shows</a></li>
        <li><a routerLink="/genres" class="text-capitalize">categories</a></li>
      </ul>
      <div class="social d-flex justify-content-center">
        <span class="cursor position-relative d-flex align-items-center justify-content-center"><i class="fa-brands fa-facebook-f position-relative z-3"></i></span>
        <span class="mx-2 cursor position-relative d-flex align-items-center justify-content-center"><i class="fa-brands fa-x-twitter position-relative z-3"></i></span>
        <span class=" cursor position-relative d-flex align-items-center justify-content-center"><i class="fa-brands fa-instagram position-relative z-3"></i></span>
      </div>
    </div>
  </div>
</footer>
